body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

/* Separater */
.separator {
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)),  url(/images/header-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 41%;
    width: 100%;
}

.separator-text {
    font-family: sans-serif;
    color: #ffffff;
}

.separator-title {
    position: absolute;
    font-size: 50px;
    top: 15%;
    left: 5%;
}

.separator-subtitle {
    position: absolute;
    font-size: 30px;
    top: 45%;
    left: 5%;
}

/* Profile Image */
#profile-image {
    width: 200px;
    
}

.center-image {
    position: absolute;
    top: 25%;
    right: 10%;
}

.round-image {
    border-radius: 50%;
}

.profile-shadow {
    box-shadow: 0 4px 4px #0000004f;
}

/* About Me */
.about-me {
    padding: 50px 270px 0 62px;
}

.section-title, .small-section-title {
    color: #3E3D3D;
}

.section-title {
    font-size: 25px;
}

.small-section-title {
    font-size: 19px;
}

.section-text {
    color: #4e4e4e;
    line-height: 1.5;
}