body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Header Styling */
.separator {
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)),  url(/images/header-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 41%;
    width: 100%;
}

.separator-text {
    position: absolute;
    top: 15%;
    left: 5%;
    font-family: sans-serif;
    color: #ffffff;
}

.separator-title {
    font-size: 50px;
}

.separator-subtitle {
    font-size: 30px;
}

#profile-image {
    width: 200px;
    
}

.center-image {
    position: absolute;
    top: 25%;
    right: 10%;
}

.round-image {
    border-radius: 50%;
}

.profile-shadow {
    box-shadow: 0 4px 4px #0000004f;
}